@charset "utf-8";
/* CSS Document */


body {
	background-color: #EFF5F8;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


#wrapper {
	background-color: #FFFFFF;
	width: 100%;
	min-width: 740px;
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#nav_bar ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#nav_bar a {
	text-decoration: none;
	width: 20%;
	display: block;
	float: left;
	text-align: center;
	background-color: #4D4D4D;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
}
#nav_bar a:hover, #nav_bar a.thispage {
	background-color: #43A6CB;
}

.title {
	font-size: 72px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color:#333;
	
}
.title a {
	text-decoration: none;
	color:#FFF
}

#main {
	widht: 100%;
	float: left;
	background-color:#CCC
}
#main article {
	clear:left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000;
}
#main img {
	float:left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:40%;
}
#sidebar {
	float: left;
	margin-left: 4%;
	width: 50%;
}
#footer {
	clear:left;
	width:100%;
	background-color: #4D4D4D;
	color:#FFF;
	text-align:center

}
h2 {
	font-size:64px;
	background-color:#999
}